.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.wrapper div{
    border: 1px solid red;
    margin: 0;
    width: 46px;
    height: 46px;
}

.wrapper div:hover{
    background-color: aqua;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header button{
    background-color: aqua;
    border-radius: 20px;    
    height: 50px;
}